<!-- professor_dashboard.html -->

{% extends 'base.html' %}
{% block title %}Dashboard Profesor{% endblock %}

{% block content %}
    
    <h2>Bienvenid@ Profesor/a {{ user.username }}</h2>
        <div class="dashboard-container">
            <div class="profile-info">
                <h3>Datos del Usuario:</h3>
                <p>Nombre de usuario: {{ user.username }}</p>
                <p>Nombre: {{ user.first_name }}</p>
                <p>Apellidos: {{ user.last_name }}</p>
                <p>Título: {{ professor.title }}</p>
                <p>Número de Empleado: {{ professor.employee_number }}</p>
            </div>
            <div class="student-details">

                <h3>Datos del Perfil de Profesor:</h3>
                <p>Biografía: {{ professor.profile.biography }}</p>
                <p>Sexo: {{ professor.profile.get_sexo_display }}</p>
                <p>Edad: {{ professor.profile.age }}</p>
                <p>Fecha de Nacimiento: {{ professor.profile.fecha_nacimiento }}</p>
                <p>Lugar de Nacimiento: {{ professor.profile.lugar_nacimiento }}</p>
                <p>Dirección: {{ professor.profile.direccion }}</p>
                <p>Teléfono Celular: {{ professor.profile.celular }}</p>
                <p>Teléfono de Emergencia: {{ professor.profile.telefono_emergencia }}</p>
                <p>Número de Seguro Social: {{ professor.profile.numero_seguro_social }}</p>
                <p>Tipo de Sangre: {{ professor.profile.tipo_sangre }}</p>
            </div>
        </div>   
{% endblock %} 
