{% extends 'base.html' %}

{% block title %}Lista de Estudiantes{% endblock %}

{% block content %}
<h2>Lista de Estudiantes del Grupo {{ group.semester }} {{ group.group }} {{ group.career }}</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Matrícula</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>
    <tbody>
        {% if students %}
            {% for student in students %}
            <tr>
                <td>{{ student.get_full_name }}</td>
                <td>{{ student.enrollment }}</td>
                <td>{{ student.email }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No hay estudiantes asignados a este grupo aún.</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No hay estudiantes asignados a este grupo aún.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
