{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" href="{% static 'css/mis_reportes.css' %}" />
</head>

<body>
    <div class="container">
        <h1>Mis Reportes de Tutoría</h1>
        <table>
            <thead>
                <tr>
                    <th>Fecha de Tutoria</th>
                    <th>Nombre de la Actividad de Tutoría</th>
                </tr>
            </thead>
            <tbody>
                {% for reporte in reportes %}
                <tr>
                    <td>{{ reporte.fecha_tutoria }}</td>
                    <td>{{ reporte.nombre_actividad }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No tienes reportes de tutoría registrados.</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        <ul>
            <li><a href="{% url 'home' %}">Regresar al Inicio</a></li>
        </ul>   
    </div>  
</body>
</html>