<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPORTE DE TUTORIAS</title>
</head>
<body>
    <div class="encabezado">
        <img src="/siiuttlax/static/img/LogoUTT.png">
        <h1>REPORTE DE TUTORIA</h1>
        <br>

        <p>Fecha de Tutoria:</p>
        <p>Carrea:</p>  
        <p>Grado:</p>    
        <p>Grupo:</p>
        <br>

        <p>Nombre de la Actividad:</p>
        <br>
        <p>Objetivo de la Actividad:</p>
        <br>
        <p>Descripciòin de la Actividad:</p>
        <br>

        <button>
            add_file
        </button>

    </div>
</body>
</html>