{% load static %}

<!DOCTYPE html>
<html lang="es-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Comfortaa:wght@300;400;500&family=Didact+Gothic&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Tutorias | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{% static 'img/logoUTT.png'%}">
            <h1>Sistema Integral de Tutorías</h1>
        </div>

        <ul class="navigation">
            <li>
                <a href="home.html">
                    Inicio
                </a>
            </li>
            <li>
                <a href="#">
                    UTT
                    <i class='bx bxs-chevron-down js-arrow'></i>
                </a>
                <div class="subnavigation__wrapper">
                    <ul>
                        <li>
                            <a href="#">
                                Página UTT
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                EVAUTT
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                SAIIUTT
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    Tutoría
                    <i class='bx bxs-chevron-down js-arrow'></i>
                </a>
                <div class="subnavigation__wrapper">
                    <ul>
                        <li>
                            <a href="justifying_student.html">
                                Justificantes Alumno
                            </a>
                        </li>
                        <li>
                            <a href="justifying_teacher.html">
                                Justificantes Tutores
                            </a>
                        </li>
                        <li>
                            <a href="justifying_principal.html">
                                Justificantes Director
                            </a>
                        </li>
                        <li>
                            <a href="individual_monitoring.html">
                                Seguimiento Individual
                            </a>
                        </li>
                        <li>
                            <a href="survey_leave.html">
                                Encuesta Causa de Baja
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    Servicios
                </a>
            </li>
            <button>Iniciar sesión</button>
        </ul>
    </nav>
    <div class="container">
            {% block content %}
            {% endblock %}    
    </div>
</body>
</html>