<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Comfortaa:wght@300;400;500&family=Didact+Gothic&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/cumplimiento.css' %}">
    <title>Tutorias | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{% static 'img/logoUTT.png'%}" alt="Logo"/>
            <h1>Sistema Integral de Tutorías</h1>
        </div>

        <ul class="navigation">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li>
                <a href="#">
                    UTT
                    <i class='bx bxs-chevron-down js-arrow'></i>
                </a>
                <div class="subnavigation__wrapper">
                    <ul>
                        <li>
                            <a href="#">
                                Página UTT
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                EVAUTT
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                SAIIUTT
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            {% if user.is_authenticated %}
            {% if user_type == 'profesor' %}
                    {% include 'shared/menu_professor.html' %}
                {% elif user_type == 'estudiante' %}
                    {% include 'shared/menu_student.html' %}
                {% elif user_type == 'administrador' %}
                    {% include 'shared/menu_admin.html' %}
                {% endif %}
            {% endif %}
            <li>
                <a href="#">
                    Servicios
                </a>
            </li>
            {% if user.is_authenticated %}

                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Cerrar sesión</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}" class="btn">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}    
    </div>
</body>
</html>
