{% extends 'base.html' %}
{% load static %}

{% block title %}Análisis de Cumplimiento de tutoria{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cumplimiento.css' %}">
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="scroll-container">
        <div class="periodo-select">
            <form method="get" action="{% url 'consultas_por_periodo' current_period.id %}">
                <select name="periodo" onchange="if(this.value) { window.location.href='{% url 'consultas_por_periodo' 0 %}'.replace('0', this.value); }">
                    <option value="">Selecciona un periodo</option>
                    {% for period in periods %}
                        <option value="{{ period.id }}" {% if period.id == current_period.id %}selected{% endif %}>
                            {{ period.period }}: {{ period.year }}
                        </option>
                    {% endfor %}
                </select>
                <select name="mes" onchange="this.form.submit()">
                    <option value="">Seleccione un mes:</option>
                    <option value="1" {% if selected_mes == '1' %}selected{% endif %}>Enero</option>
                    <option value="2" {% if selected_mes == '2' %}selected{% endif %}>Febrero</option>
                    <option value="3" {% if selected_mes == '3' %}selected{% endif %}>Marzo</option>
                    <option value="4" {% if selected_mes == '4' %}selected{% endif %}>Abril</option>
                    <option value="5" {% if selected_mes == '5' %}selected{% endif %}>Mayo</option>
                    <option value="6" {% if selected_mes == '6' %}selected{% endif %}>Junio</option>
                    <option value="7" {% if selected_mes == '7' %}selected{% endif %}>Julio</option>
                    <option value="8" {% if selected_mes == '8' %}selected{% endif %}>Agosto</option>
                    <option value="9" {% if selected_mes == '9' %}selected{% endif %}>Septiembre</option>
                    <option value="10" {% if selected_mes == '10' %}selected{% endif %}>Octubre</option>
                    <option value="11" {% if selected_mes == '11' %}selected{% endif %}>Noviembre</option>
                    <option value="12" {% if selected_mes == '12' %}selected{% endif %}>Diciembre</option>
                </select>
            </form>
        </div>

        <div class="info-estatica">
            <p><strong>Director de Carrera:</strong> Jose Manuel</p>
            <p><strong>Coordinadora de Tutoría:</strong> Gabriela</p>
        </div>
        <div class="grupo-scroll-container">
            <div class="grupo-container">
                {% for grupo in grupos %}
                    <div class="grupo-item">
                        <div class="info-container">
                            <p><strong>Tutor:</strong> {{ grupo.Tutor }}</p>
                            <p><strong>Carrera:</strong> {{ grupo.Carrera }}</p>
                            <p><strong>Grupo:</strong> {{ grupo.Grupo }}</p>
                            <p><strong>Cuatrimestre:</strong> {{ grupo.Cuatrimestre }}</p>
                        </div>
                        <div class="actividades-container">
                            <ul class="lista-actividades">
                                {% for actividad in grupo.Actividades %}
                                    <li>{{ actividad }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
