{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Comfortaa:wght@300;400;500&family=Didact+Gothic&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <title>Inicio de sesión</title>
</head>

<body>
    <div class="content">
        <form method="post">
            <h1>Iniciar sesión</h1>
            <div class="formcontainer">
                <hr />
                <div class="container">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <label>
                    <input type="checkbox" checked="checked"> Recordar la contraseña
                </label>
                <br>
                <button type="submit">Iniciar sesión</button>
            </div>
        </form>
</body>

</html>