body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.hoja {
    width: 21cm; /* Ancho típico de una hoja A4 */
    min-height: 29.7cm; /* Altura mínima de una hoja A4 */
    padding: 2cm;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}

header, footer {
    width: 100%;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
}

header img, footer img {
    width: 100%;
    max-width: 100%;
}

.encabezado {
    margin: 20px 0; /* Espacio entre el contenido y el header/footer */
}

.encabezado h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 1cm;
}

.encabezado p {
    margin: 10px 0 5px;
    font-weight: bold;
}

.encabezado input, .encabezado textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
}

.encabezado input[type="date"] {
    width: auto;
}

.encabezado button, .encabezado input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}
