* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(240, 240, 240);
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    background: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    padding: 0 0.625rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

img {
    width: auto;
    height: 1.875rem;
}

h1 {
    font-size: 1.4375rem;
    font-weight: 500;
    margin-left: 1.25rem;
}

.navigation {
    max-width: 40rem;
    width: auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: auto;
    align-items: center;
}

.navigation li {
    position: relative;
    transition: all 0.5s ease;
    flex-grow: 1;
    user-select: none;
    width: auto;
}

.navigation a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0.5625rem 0.9375rem;
    color: black;
    min-height: 4rem;
    letter-spacing: 0.03rem;
    text-decoration: none;
    transition: all 0.7s ease;
}

.navigation a:hover {
    background-position: 0;
    color: #19bd66;
}


.navigation>li:hover>a {
    background-position: 0;
    color: #19bd66;
}

.subnavigation__wrapper {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    transition: max-height 0.3s ease-in-out;
    background-color: white;
    width: auto;
    white-space: nowrap;
    font-size: 1rem;
}

.navigation li:hover .subnavigation__wrapper {
    max-height: 50rem;
    top: 4rem;
    display: flex;
    flex-direction: column;
    color: #19bd66;
}

.navigation ul {
    padding: 0; 
}

.navigation li ul li a {
    padding: 0.5rem 1rem;
}

ul li:hover .js-arrow {
    transform: rotate(180deg);
    transition: max-height all 0.5s ease;
}

button {
    background: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 0.625rem 1.4375rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.3125rem;
    font-family: "Poppins", sans-serif;
}

button:hover {
    background-color: #19bd66;
    color: black;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}